doctype html
html
    head
        title very good chat
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", type="text/css", media="screen", href="/css/style.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.slim.js")
        script(src="https://code.jquery.com/jquery-1.11.1.js")
        script(src="https://unpkg.com/cookiejs/dist/cookie.min.js")
        script(src="/js/client.js")

    body
        div#container
            header#head
                h2
                    | very good chat
                h3
                    | name: 
                    span#name no name yet   
            
            h2#messageHeader
                | messages

            h2#userHeader
                | users
                
            div#messages
                
            div#activeUsers

            footer#foot          
                form(action='')
                    input#inputMsg(autocomplete='off')
                    button#sendButton send