html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    height: 100%;
}

body {
    height: 100%;
    overflow: hidden;
    margin: 0px;
    background-color: #dd7126;
}

#container {
    display: grid;
    grid-template-rows: 80px 50px auto 30px;
    grid-template-columns: 80% 20%;
    height: 100%;
}

#messageHeader {
    grid-column: 1 / 2;
}

#userHeader {
    grid-column: 2 / 3;
}

#userHeader, #messageHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#messages {
    grid-column: 1 / 2;
    word-wrap: break-word;
    margin: 3px;
    padding: 0 0 0 10px;
}

#activeUsers {
    grid-column: 2 / 3;
    font-weight: bold;
    margin: 3px;
    padding: 0 0 0 10px;
    word-wrap: break-word;
}

#messages > span, #activeUsers > span {
    margin-top: 5px;
}

#messages .nonMessage {
    color: #3d3c3c;
}

#messages, #activeUsers {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: #e5ded5;
    border-radius: 6px;
}

#messages > :first-child, #activeUsers > :first-child {
    margin-top: auto; 
}

#head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ff9d21;
}

#head > h2, h3 {
    margin: 0px;
}

#head, #foot {
    grid-column: 1 / span 2;
}

#foot {
    background-color: #dd7126;
    padding: 4px;
    width: 100%;
    display: flex;
    font-family: 'Roboto', sans-serif;
}

#inputMsg {
    border: 0;
    padding: 10px;
    width: 90%;
    margin-right: .5%;
    border-radius: 3px;
    background-color: #e5ded5;
}

#sendButton { 
    width: 9%;
    min-width: 50px;
    background: rgb(130, 224, 255);
    border: none;
    margin-right: 1%;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background-color: #3a99c7;
    border-radius: 3px;
}

#sendButton:hover {
    background-color: #27d1fc;
}
